amqp==2.2.2
appdirs==1.4.0
attrs==16.3.0
Automat==0.6.0
Babel==2.5.1
beautifulsoup4==4.6.0
billiard==3.5.0.3
cairocffi==0.8.0
CairoSVG==2.1.2
celery==4.1.0
certifi==2017.7.27.1
cffi==1.9.1
chardet==3.0.4
cheroot==6.0.0
CherryPy==13.0.0
click==6.7
codegen==1.0
colorama==0.3.9
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==1.7.2
cssselect==1.0.1
cssselect2==0.2.1
decorator==4.1.2
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.2
django-bootstrap3==8.2.3
django-braces==1.10.0
django-contrib-comments==1.8.0
django-cors-headers==2.1.0
django-coupons==1.1.0
django-crispy-forms==1.6.1
django-extensions==1.7.5
django-extra-views==0.6.4
django-filter==1.1.0
django-haystack==2.6.1
django-localflavor==1.6.1
django-mongo-coupons==0.0.1b1
django-mptt==0.8.7
Django-Next-Please==16.12.1
django-oauth-toolkit==1.0.0
django-parler==1.9
django-paypal==0.4.1
django-phonenumber-field==1.3.0
django-rest-framework-social-oauth2==1.0.8
django-rest-swagger==2.1.2
django-suit==0.2.23
django-tables2==1.16.0
django-treebeard==4.2.0
django-webpack-loader==0.5.0
django-widget-tweaks==1.4.1
djangorestframework==3.6.4
docx==0.2.4
easy-thumbnails==2.3
elasticsearch==5.2.0
factory-boy==2.9.2
Faker==0.8.7
feedparser==5.2.1
first==2.0.1
gmane==0.1.dev25
gunicorn==19.6.0
html5lib==0.999999999
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
itypes==1.1.0
jaraco.classes==1.4.3
Jinja2==2.10
kombu==4.1.0
lxml==4.6.5
Markdown==2.6.7
MarkupSafe==1.0
mock==2.0.0
more-itertools==4.0.1
mpeg1audio==0.5.2
networkx==2.0
nltk==3.2.5
numpy==1.13.3
oauthlib==2.0.4
olefile==0.44
openapi-codec==1.3.2
optional-django==0.3.0
packaging==16.8
pandas==0.21.0
parsel==1.1.0
pattern-gen==0.1.0
pattern-observer==1.0.0
pattern3==3.0.0
patterns==0.3
payment==0.0.1.2
paypal-reporter==0.1.3
pbr==3.1.1
pdfminer.six==20170720
pdfminer3k==1.3.1
pdfrw==0.4
phonenumberslite==8.8.8
Pillow==4.0.0
pip-tools==1.11.0
pluggy==0.6.0
ply==3.10
portend==2.2
psycopg2==2.6.2
purl==1.3.1
py==1.5.2
pyasn1==0.2.2
pyasn1-modules==0.0.8
pycparser==2.17
pycryptodome==3.4.7
PyDispatcher==2.0.5
PyJWT==1.5.3
pyOpenSSL==16.2.0
pyparsing==2.1.10
Pyphen==0.9.4
pypiwin32==220
pytest==3.3.0
python-dateutil==2.6.1
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2017.2
queuelib==1.4.2
react==4.1.0
requests==2.18.4
requests-oauthlib==0.8.0
restless==2.1.1
rosetta==0.3
scipy==1.0.0
selenium==3.0.2
service-identity==16.0.0
simplejson==3.13.2
six==1.11.0
slugify==0.0.1
social==0.1.dev3
social-auth-app-django==1.2.0
social-auth-core==1.4.0
sorl-thumbnail==12.4.1
splinter==0.7.7
tabulate==0.8.2
tempora==1.9
text-unidecode==1.1
tinycss2==0.6.1
unicode-slugify==0.1.3
Unidecode==0.4.20
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
w3lib==1.17.0
WeasyPrint==0.41
webencodings==0.5.1
whitenoise==3.2
zope.interface==4.3.3
